body {
    background-color: #292b29fe;
    font-family: "Montserrat", sans-serif;
    /* overflow-y: hidden; */
}

section {
    text-align: center;
}

.blurry {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    filter: blur(8px);
    -webkit-filter: blur(8px);
}

#board {
    background: #333;
    border: 5px solid #15b7cd;
}

.score {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
}

.title {
    display: flex;
    justify-content: center;
    font-size: 2rem;
    text-transform: capitalize;
    color: #fff;
    text-align: center;
    font-weight: bold;
    /* margin-top: 1.5rem; */
    margin-bottom: 3rem;
    position: relative;
}
.title::before {
    content: "";
    position: absolute;
    transform: translate(-50%, -50%);
    bottom: 12px;
    left:50%;
    width: 50px;
    height: 4px;
    border-radius: 4px;
    background-color: #0eeda3;
}

.names {
    display: flex;
    color: #fff;
    justify-content: space-around;
    font-size: 1.5rem;
    text-transform: capitalize;
    margin: 1rem 0;
    padding: 0 2.5rem;
}

.label {
    text-transform: uppercase;
    font-size: 2rem;
    color: #15b7cd;
    font-weight: bold;
}

.center-button {
    margin: 0 auto;
    display: block;
}

.btn {
    font-size: 10px;
}

.swal-overlay {
    /* background-color: rgba(0, 71, 71, 0.45); */

    background-color: #02515b1d;
}

.swal-modal {
    border: 3px solid #15b7cd;
}

.header {
    text-align: center;
}

.options-container {
    position: absolute;
    top: 13px;
    left: 1.5rem;
}

.playing-state {
    padding: 10px 20px;
    color: #fff;
    outline: none;
    text-transform: capitalize;
}

.pong-header {
    width: 50%;
}

.img-container {
    width: 50px;
}

.img-container img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    margin-left: .5rem;
}