body {
    background-color: #292b29fe;
    font-family: "Montserrat", sans-serif;
}

section {
    text-align: center;
}

.blurry {
    /* position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; */
    filter: blur(8px);
    -webkit-filter: blur(8px);
}

#board {
    background: #333;
    border: 5px solid #15b7cd;
}

.score {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
}
.title-gameplay {
    display: flex;
    justify-content: center;
    font-size: 2rem;
    text-transform: capitalize;
    color: #fff;
    text-align: center;
    font-weight: bold;
    margin-bottom: 3rem;
    position: relative;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    text-transform: capitalize;
    color: #fff;
    text-align: center;
    font-weight: bold;
    /* margin-top: 1.5rem; */
    margin-bottom: 3rem;
    position: relative;
}

.timer {
    margin-right: 1rem;
}

.home-title {
    color: #333;
}

.title::before {
    content: "";
    position: absolute;
    transform: translate(-50%, -50%);
    bottom: 12px;
    left: 50%;
    width: 50px;
    height: 4px;
    border-radius: 4px;
    background-color: #0eeda3;
}

.names {
    display: flex;
    color: #fff;
    justify-content: space-around;
    font-size: 1.5rem;
    text-transform: capitalize;
    margin: 1rem 0;
    padding: 0 2.5rem;
}

.label {
    text-transform: uppercase;
    font-size: 2rem;
    color: #15b7cd;
    font-weight: bold;
}

.center-button {
    margin: 0 auto;
    display: block;
}

.btn {
    font-size: 10px;
}

.swal-overlay {
    background-color: #02515b1d;
}

.swal-modal {
    border: 3px solid #15b7cd;
}

.header {
    text-align: center;
}

.options-container {
    position: absolute;
    top: 13px;
    left: 1.5rem;
}

.playing-state {
    padding: 10px 20px;
    color: #fff;
    outline: none;
    text-transform: capitalize;
}

.pong-header {
    width: 50%;
}

.img-container {
    width: 50px;
}

.img-container img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    margin-left: 0.5rem;
}

.pong-background {
    background-image: url("../assets/pong-background5.jpeg");
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 998;
}

.slowed-blurry-background {
    display: flex;
    justify-content: center;
    align-items: center;
}

.slowed-blurry-background > * {
    filter: blur(3px);
}

.disable-blur {
    filter: blur(0);
}

.stepper {
    text-align: center;
    background-color: #fff;
    width: 600px;
    border-radius: 6px;
    padding: 1rem;
    margin-top: 5rem;
    z-index: 1000;
}

.overlay {
    background-color: rgba(0, 0, 0, 0.65);
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
}

.menu {
    position: relative;
}

.menu .checkbox {
    position: absolute;
    left: 0;
    bottom: 0;
    display: flex;
    color: #333;
}

.menu .checkbox img {
    object-fit: contain;
}

.container-btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.home-title-section {
    color: black;
    margin-bottom: 0;
}

.sound-icon {
    width: 25px;
    cursor: pointer;
}